{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 44, "knowledge_revision": 173, "git_revision": "", "hash": "880cadf4f2277caa2b4942b7d9b3dab2", "format-version": 4, "code-base-name": "default", "filename": "note_ease/windows/runner/Runner.rc", "revision_history": [{"173": ""}]}