{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 7, "knowledge_revision": 142, "git_revision": "", "hash": "f1d567522a0f61a4f3031e25ffcbe2de", "format-version": 4, "code-base-name": "default", "filename": "note_ease/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"142": ""}]}