{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter-Generated.xcconfig", "xcconfig", "Flutter", "generated configuration"], "state": 2, "file_id": 4, "knowledge_revision": 143, "git_revision": "", "hash": "14a985238d03e70d38bc7a5883520002", "format-version": 4, "code-base-name": "default", "filename": "note_ease/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"143": ""}]}